body {
  font-family: Arial, sans-serif;
  background-color: #2d3250;
  margin: auto;
  min-height: 100vh;
}

.container {
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 300px;
}

.form-group {
  margin-bottom: 15px;
}

.link {
  text-align: center;
  margin-top: 10px;
}

.link a {
  color: #000;
  text-decoration: none;
}

.link a:hover {
  text-decoration: underline;
}

h1 {
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
}

form {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  width: 50%;
}

label {
  color: #ddd;
  font-weight: bold;
  font-size: medium;
}

input {
  background-color: #676f9d;
  color: white;
  border: none;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  width: 40%;
  box-sizing: border-box;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

input:focus {
  background-color: #5a628c;
  outline: none;
}

button {
  background-color: #00aaff;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  width: 10%;
  font-size: 16px;
  margin: 10px;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ujung {
  margin-left: 999px;
}

.tengah {
  margin-left: 5px;
}

p {
  color: #ffffff;
  margin-top: 15px;
}

a {
  color: #00aaff;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #008ecc;
}

input,
button {
  font-size: 14px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: center;
  padding: 5px;
  margin: 10px;
  border-bottom: 1px solid #ddd;
  color: #ddd;
  height: 40px; 

}

th {
  background-color: #333;
  color: white;
  margin: 10px;
}

.action-buttons {
  display: flex;
  gap: 10px;  
}

.btn-warning {
  background-color: red;
  color: white;
  padding: 8px 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.btn-warning:hover {
  background-color: crimson;
}

.btn-primary {
  background-color: #e0a800;
  color: white;
  padding: 8px 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.btn-primary:hover {
  background-color: #e0a813;
}

form .primary {
  margin-left: 999px;
  background-color: #e0a800;
  text-align: center;
  color: white;
  padding: 10px 16px;
}


::placeholder {
  color: #ddd;
}
