<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <link th:href="@{/style.css}" rel="stylesheet" />
    <head>
        <title>Supplier</title>
    </head>

    <body>
        <a th:href="@{add-supplier}"><button>Add New Supplier</button></a>
        <h1>List Supplier</h1>
        <table>
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Supplier Name</th>
              <th scope="col">Address</th>             
              <th scope="col">Phone Number</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="supplier : ${supplier}">
              <td th:text="${supplier.id}"></td>
              <td th:text="${supplier.name}"></td>
              <td th:text="${supplier.address}"></td>
              <td th:text="${supplier.phone}"></td>
              <td>
                <a th:href="@{/update-supplier/{id}(id=${supplier.id})}" class="btn-primary">Update</a>
                <a th:href="@{/delete-supplier/{id}(id=${supplier.id})}" class="btn-warning">Delete</a>
              </td>
            </tr>
          </tbody>
        </table>
        <a th:href="@{home}"><button>List Obat</button></a>    
        <a th:href="@{category}"><button>List Category</button></a>
      </body>
</html>